body{
background:#161616;
color:#f5f5f5;
font-family:Arial;
max-width:900px;
margin:auto;
padding:40px;
}

header{
text-align:center;
padding-bottom:30px;
}

h1{
color:#d8b4ff;
font-size:50px;
}

h2{
color:#f0d4ff;
margin-top:40px;
}

nav{
margin-top:20px;
}

a{
padding:12px;
color:#e8cfff;
text-decoration:none;
}

section{
background:#222;
padding:20px;
margin-top:20px;
border-radius:10px;
}
.gallery{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
margin-top:30px;
}

.gallery img{
width:auto;
height:auto;
border-radius:15px;
max-height:500px;
}